.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-height: 100vh;
}

#bgGrid {
    position: fixed;
    will-change: transform;
    background-size: 2.5rem 2.5rem;
    background-image: linear-gradient(90deg,rgba(0,0,0,.133) 1px,transparent 0),linear-gradient(180deg,rgba(5,5,5,.133) 1px,transparent 0);
    z-index: -2

}
#bgGrid,#blurGrid {
     inset: 0;
     height: 100vh;
}
#blurGrid {
    background:radial-gradient(circle,hsla(0,8%,95%,.6) 0,hsla(0,11%,96%,.97) 90%,var(--background) 100%);
    z-index:-1;
}
@media screen and (max-width: 600px) {
    #bgGrid {
        background-size:1.5rem 1.5rem
    }
}


.heroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.heroSection > h1{
    font-size: 20px;
}



.urlConatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.tictactoeImageConatiner{
    margin-bottom: 2rem;
}

/*.tictactoeButton{*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*    cursor: pointer;*/
/*}*/


.urlConatiner > div {

    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 2rem;
}

/*--light-green: #22C55E;*/
/*--light-yellow: #FFC107;*/
/*--light-blue: #3B82F6;*/
/*--green: #2E865F;*/


.tictactoeUrlConatiner{
    background-color: #22C55E;
    /*color: white;*/
}

.githubUrlConatiner{
    background-color: var(--light-yellow);
}
